<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title> HopeLink </title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{url_for('static', filename = 'assets/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename = 'assets/vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename = 'assets/vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename = 'assets/vendor/glightbox/css/glightbox.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename = 'assets/vendor/swiper/swiper-bundle.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static', filename = 'assets/vendor/aos/aos.css')}}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{url_for('static', filename = 'assets/css/main.css')}}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Logis
  * Updated: Mar 10 2023 with Bootstrap v5.2.3
  * Template URL: https://bootstrapmade.com/logis-bootstrap-logistics-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="index.html" class="logo d-flex align-items-center">
        <h1>HopeLink</h1>
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="index.html" class="active">Home</a></li>
      </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
  <!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">
    <div class="container">
      <div class="row gy-4 d-flex justify-content-between">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h2 data-aos="fade-up">Your Agricultural Resource Locator</h2>
          <p data-aos="fade-up" data-aos-delay="100"> 
            With millions of people left without food resources amid this deadly apocalypse.
            We have created an app to connect our farmers and agriculture workers in locating uncontaminated food sources. </p>

          <div class="row gy-4" data-aos="fade-up" data-aos-delay="400">

            <div class="col-lg-3 col-6">
              <div class="stats-item text-center w-100 h-100">
                <span data-purecounter-start="0" data-purecounter-end="90" data-purecounter-duration="1" class="purecounter"></span>
                <p> Sources Found </p>
              </div>
            </div><!-- End Stats Item -->

            <div class="col-lg-3 col-6">
              <div class="stats-item text-center w-100 h-100">
                <span data-purecounter-start="0" data-purecounter-end="3" data-purecounter-duration="1" class="purecounter"></span>
                <p>Countries</p>
              </div>
            </div><!-- End Stats Item -->

            <div class="col-lg-3 col-6">
              <div class="stats-item text-center w-100 h-100">
                <span data-purecounter-start="0" data-purecounter-end="1000" data-purecounter-duration="1" class="purecounter"></span>
                <p>Supported</p>
              </div>
            </div><!-- End Stats Item -->

          </div>
        </div>

        <div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="zoom-out">
          <img src="assets/img/hero-img.svg" class="img-fluid mb-3 mb-lg-0" alt="">
        </div>

      </div>
    </div>
  </section><!-- End Hero Section -->

  <main id="main">

  <main id="main">

    
    <!-- ======= About Us Section ======= -->
    <br><br>
    <section id="about" class="about pt-0">
      <div class="container" data-aos="fade-up">

        <div class="row gy-4">
          <div class="col-lg-6 position-relative align-self-start order-lg-last order-first">
            <img src="assets/img/about.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 content order-last  order-lg-first">
            <h3>About The Product </h3>
            <p>
             HopeLink is a tracker built for low processing use and helping bridge inaccessiblity for agriculture. 
            <ul>
              <li data-aos="fade-up" data-aos-delay="100">
                <i class="bi bi-diagram-3"></i>
                <div>
                  <h5> Low Bandwidth Solution</h5>
                  <p> Optimized for low data and wifi connection</p>
                </div>
              </li>
              <li data-aos="fade-up" data-aos-delay="200">
                <i class="bi bi-fullscreen-exit"></i>
                <div>
                  <h5> Geolocation </h5>
                  <p> Uses the phone's last ping to find latitude and longitiude coordinates</p>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <br>
        <br>

      </div>
      
      <h2 style = "color:#000; text-align: center;">Your Location:</h2>    
      <p id="location" style = "text-align: center;"></p>
    <section id="hero" class="hero d-flex align-items-center">

    <script>
    var x = document.getElementById("location");


    function getLocation() {
      if (navigator.geolocation) {
        navigator.geolocation.watchPosition(showPosition);
      } else { 
        x.innerHTML = "Geolocation is not supported by this browser.";
      }
    }

    function showPosition(position) {
      x.innerHTML="Latitude: " + position.coords.latitude + "<br>Longitude: " + position.coords.longitude;

      const latitude = position.coords.latitude;
      const longitude = position.coords.longitude;

      // Get a reference to the map image element
      const map = document.getElementById("map");

      // Set the new `src` attribute using the `latitude` and `longitude` variables
      map.src = `https://maps.geoapify.com/v1/staticmap?style=osm-carto&width=600&height=400&center=lonlat:${longitude},${latitude}&zoom=6.123&marker=lonlat:${longitude},${latitude};color:%23ff0000;size:medium&apiKey=03707d378c3d496eab1d759d15ad08de`;
    }

    function shareinfo(event) {
      event.preventDefault();
      const name = document.getElementById("name").value;
      const content = document.getElementById("content").value;

      // Get the current location
      navigator.geolocation.getCurrentPosition((position) => {
        const latitude = position.coords.latitude;
        const longitude = position.coords.longitude;

        // Set the text content of the location element
        document.getElementById("location").innerHTML = `@ ${latitude}, ${longitude}`;

        // Set the text content of the name and content elements, only if they are not empty
        if (name !== '') {
          document.getElementById("name-text").innerHTML = name;
        }
        if (content !== '') {
          document.getElementById("content-text").innerHTML = content;
        }
      });
    }

    window.onload = function() {
      getLocation();
    };
    

    </script>

    <div class = "container-fluid">
        <img id="map" width="600" height="400" src="" alt="location" class = "d-block mx-auto map_image">
        <div class = "form w-75 d-block mx-auto">
          <form action ="/" method = "POST" class  = "mt-5 d-flex flex-column justify-content-center py-5 align-items-center">
            <div class = "d-flex flex-row my-3"> 
            <label for="title" class = "me-4" style="color:#000" >Title:</label>
            <input type = "text" name = "title" id = "title">
            </div>
            
            <div class = "d-flex flex-row my-3"> 
            <label for="content" class = "me-4" style="color:#000">Content:</label>
            <input type = "text" name = "content" id = "content" >
            </div>
            
            <div class = "d-flex flex-row my-3"> 
            <label for="name" class = "me-4" style="color:#000">Name:</label>
            <input type = "name" name = "name" id = 'name'>
            </div>
  
            <input type = "submit" value = "Send" class = "mt-3 button-primary px-3">
          </form>
      </div>
      <br>
      <br>

    
        {% for location in locations %}
        <div class = "d-block mx-auto textbox">
            <h1 class = text10>{{location.title}}</h1> 
            <h2 style = "color:#FFF">By: {{location.name}}</h2>
            <p style = "color:#FFF">At: {{location.coords}}</p>
            <h3 style = "color:#FFF">{{location.time}}</h3>
            <p style = "color:#FFF">More Info:<br>{{location.description}}</p>
            
        </div>
        {% endfor %}
    
      </div>

    </section><!-- End About Us Section -->
  </footer><!-- End Footer -->
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{{url_for('static', filename = 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{url_for('static', filename = 'assets/vendor/purecounter/purecounter_vanilla.js')}}"></script>
  <script src="{{url_for('static', filename = 'assets/vendor/glightbox/js/glightbox.min.js')}}"></script>
  <script src="{{url_for('static', filename = 'assets/vendor/swiper/swiper-bundle.min.js')}}"></script>
  <script src="{{url_for('static', filename = 'assets/vendor/aos/aos.js')}}"></script>
  <script src="{{url_for('static', filename = 'assets/vendor/php-email-form/validate.js')}}"></script>

  <!-- Template Main JS File -->
  <script src="{{url_for('static', filename = 'assets/js/main.js')}}"></script>

</body>

</html>